body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.login-card{
    box-shadow: -5px 2px 30px -9px rgba(0, 0, 0, 1);
}

 .items{
    opacity: 0.3;
 }
 .active{
    opacity: 1;
 }


.caption{
    width: 80%;
    left: 10%;
    bottom: 10px;
    text-align: center;
}
.lightbox-container{
  background-color: rgba(0, 0, 0, 0.6);
}
.lightbox-item{
    width: 50%;
    height: 70vh;
    background-image: url('../images/work-1.jpg');
}
.lightbox-item i{
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}
